---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Code of Conduct"
    description="The Code of Conduct for PyCon NL and the PyNetherlands foundation."
>
    <div class="container page">
        <header class="page-header">
            <h1>PyNetherlands Code of Conduct</h1>
        </header>

        <div class="prose">
            <p>
                We value the participation of each member of the Python
                community and want all participants to have an enjoyable and
                fulfilling experience. Accordingly, all attendees are expected
                to show respect and courtesy to other attendees throughout the
                conference and at all conference events.
            </p>
            <p>
                To make clear what is expected, all staff, attendees, speakers,
                exhibitors, organisers, and volunteers at any PyNetherlands
                organized event are required to conform to the following Code of
                Conduct, as set forth by the foundation. Organisers will enforce
                this code throughout the event.
            </p>

            <h2>Our Community</h2>
            <p>
                Members of the Python community are open, considerate, and
                respectful. Behaviours that reinforce these values contribute to
                a positive environment, and include:
            </p>
            <ul>
                <li>
                    <strong>Being open.</strong> Members of the community are open
                    to collaboration.
                </li>
                <li>
                    <strong>Focusing on what is best for the community.</strong>
                    {" "}We're respectful of the processes set forth in the
                    community, and we work within them.
                </li>
                <li>
                    <strong>Acknowledging time and effort.</strong> We're respectful
                    of the volunteer efforts that permeate the Python community. We're
                    thoughtful when addressing the efforts of others, keeping in mind
                    that oftentimes the labour was completed simply for the good of
                    the community.
                </li>
                <li>
                    <strong
                        >Showing empathy towards other community members.</strong
                    >
                    {" "}We're attentive in our communications, whether in
                    person or online, and we're tactful when approaching
                    differing views.
                </li>
                <li>
                    <strong>Being considerate.</strong> Members of the community are
                    considerate of their peers.
                </li>
                <li>
                    <strong>Being respectful.</strong> We're respectful of others,
                    their positions, their skills, their commitments, and their efforts.
                    We're receptive to constructive comments and criticism, as the
                    experiences and skill sets of other members contribute to the
                    whole of our efforts.
                </li>
                <li>
                    <strong>Gracefully accepting constructive criticism.</strong
                    >
                    {" "}When we disagree, we are courteous in raising our
                    issues.
                </li>
                <li>
                    <strong>Using welcoming and inclusive language.</strong>
                    {" "}We're accepting of all who wish to take part in our
                    activities, fostering an environment where anyone can
                    participate and everyone can make a difference.
                </li>
            </ul>

            <h2>Our Standards</h2>
            <p>
                Every member of our community has the right to have their
                identity respected. The Python community is dedicated to
                providing a positive experience for everyone, regardless of age,
                gender identity and expression, sexual orientation, disability,
                physical appearance, body size, ethnicity, nationality, race,
                religion (or lack thereof), education, cultural and cognitive
                variations, or socio-economic status.
            </p>

            <h2>Inappropriate Behaviour</h2>
            <p>Examples of unacceptable behaviour by participants include:</p>
            <ul>
                <li>Harassment of any participants in any form</li>
                <li>Deliberate intimidation, stalking, or following</li>
                <li>
                    Logging or taking screenshots of online activity for
                    harassment purposes
                </li>
                <li>
                    Publishing others' private information, such as a physical
                    or electronic address, without explicit permission
                </li>
                <li>
                    Violent threats or language directed against another person
                </li>
                <li>
                    Incitement of violence or harassment towards any individual,
                    including encouraging a person to commit suicide or to
                    engage in self-harm
                </li>
                <li>
                    Creating additional online accounts to harass another person
                    or circumvent a ban
                </li>
                <li>
                    Language and imagery in online communities or any conference
                    venue, including talks, that sexualises, insults, demeans,
                    or attacks groups or specific individuals
                </li>
                <li>
                    Insults, put-downs, or jokes that are based upon
                    stereotypes, that are exclusionary, or that hold others up
                    for ridicule
                </li>
                <li>Unwelcome sexual attention or advances</li>
                <li>
                    Unwelcome physical contact, including simulated physical
                    contact (e.g., textual descriptions like "hug" or "backrub")
                    without consent or after a request to stop
                </li>
                <li>
                    Patterns of inappropriate social contact, such as
                    requesting/assuming inappropriate levels of intimacy with
                    others
                </li>
                <li>
                    Sustained disruption of online community discussions,
                    in-person presentations, or other in-person events
                </li>
                <li>
                    Continued one-on-one communication after requests to cease
                </li>
                <li>
                    Other conduct that is inappropriate for a professional
                    audience including people of many different backgrounds
                </li>
            </ul>
            <p>
                Community members asked to stop any inappropriate behaviour are
                expected to comply immediately.
            </p>

            <h3>Be Professional and Don't Spam</h3>
            <p>
                We consider PyCon NL a great setting to showcase the work of the
                community and would like to encourage networking and business
                related discussions, as well as keep the conference
                presentations meaningful and interesting for everyone.
            </p>
            <p>We therefore:</p>
            <ul>
                <li>
                    primarily make company marketing, promotional or
                    recruiting-related activities at the conference available to
                    our paid sponsors, unless agreed otherwise;
                </li>
                <li>
                    request presentations — outside the official recruiting
                    sessions — to focus on Python-related topics, not on
                    recruitment.
                </li>
            </ul>
            <p>
                The PyCon NL organising team will be happy to answer any
                questions related to marketing or recruiting activities.
            </p>

            <h2>Consequences</h2>
            <p>
                If a participant engages in behaviour that violates this Code of
                Conduct, the PyNetherlands Code of Conduct team may take action
                they deem appropriate, including warning the offender or
                expulsion from the community and community events with no refund
                of event tickets.
            </p>
            <p>
                Thank you for helping make this a welcoming, friendly community
                for everyone.
            </p>

            <h2>Scope</h2>

            <h3>PyNetherlands / PyCon NL Events</h3>
            <p>
                This Code of Conduct applies to the following people at PyCon
                NL:
            </p>
            <ul>
                <li>staff</li>
                <li>PyNetherlands board members</li>
                <li>speakers</li>
                <li>panellists</li>
                <li>tutorial or workshop leaders</li>
                <li>poster presenters</li>
                <li>people invited to meetings or summits</li>
                <li>exhibitors</li>
                <li>organisers</li>
                <li>volunteers</li>
                <li>all attendees</li>
            </ul>
            <p>
                The Code of Conduct applies in official venue event spaces,
                including:
            </p>
            <ul>
                <li>exhibit hall or vendor tabling area</li>
                <li>panel and presentation rooms</li>
                <li>hackathon or sprint rooms</li>
                <li>tutorial or workshop rooms</li>
                <li>poster session rooms</li>
                <li>summit or meeting rooms</li>
                <li>staff areas</li>
                <li>hospitality suite</li>
                <li>meal areas</li>
                <li>party suites</li>
                <li>
                    walkways, hallways, elevators, and stairs that connect any
                    of the above spaces
                </li>
            </ul>
            <p>
                The Code of Conduct applies to interactions with official event
                accounts on social media spaces and phone applications,
                including:
            </p>
            <ul>
                <li>comments made on official conference phone apps</li>
                <li>comments made on event video hosting services</li>
                <li>
                    comments made on the official event hashtag or panel
                    hashtags
                </li>
            </ul>
            <p>Event organisers will enforce this code throughout the event.</p>

            <h3>PyNetherlands Online Spaces</h3>
            <p>This Code of Conduct applies to the following online spaces:</p>
            <ul>
                <li>The PyCon NL Discord and other community spaces</li>
                <li>The PyCon NL registration</li>
                <li>Any other online space administered by PyNetherlands.</li>
            </ul>
            <p>
                This Code of Conduct applies to the following people in official
                PyNetherlands & PyCon NL online spaces:
            </p>
            <ul>
                <li>admins of the online space</li>
                <li>maintainers</li>
                <li>reviewers</li>
                <li>contributors</li>
                <li>all community members</li>
            </ul>

            <h2>Contact Information</h2>
            <p>
                If you are being harassed, notice that someone else is being
                harassed, or have any other concerns, please contact a member of
                the event staff immediately. They can be reached by emailing{
                    " "
                }
                <a href="mailto:conduct@pynl.org">conduct@pynl.org</a>.
            </p>
            <p>
                If you like to reach out to someone directly, don't hesitate to
                do so:
                <ul>
                    <li>
                        Derk Weijers - <a
                            href="https://discord.com/users/232125464783618049"
                            >Discord</a
                        > - <a href="https://t.me/derkweijers">Telegram</a>
                    </li>
                    <li>
                        Henk-Jan van Hasselaar - <a
                            href="https://discord.com/users/220580550136561667"
                            >Discord</a
                        >
                    </li>
                    <li>
                        Dervis van Leersum - <a
                            href="https://discord.com/users/1489294852871946291"
                            >Discord</a
                        >
                    </li>
                </ul>
            </p>
            <p>
                Conference staff will be happy to help participants contact
                venue security or local law enforcement, provide escorts, or
                otherwise assist any attendee to feel safe for the duration of
                the conference. We value your attendance.
            </p>

            <h3>Local Emergency Numbers</h3>
            <ul>
                <li>All emergency services: 112</li>
                <li>Police (non-emergency): 0900-8844</li>
                <li>
                    Mental health crisis (free, 24/7): 0800-0113 (suicide
                    prevention)
                </li>
            </ul>

            <h2>Licence</h2>
            <p>
                This Code of Conduct is licensed under the{" "}
                <a
                    href="https://creativecommons.org/licenses/by-sa/3.0/"
                    target="_blank"
                    rel="noopener"
                    >Creative Commons Attribution-ShareAlike 3.0 Unported
                    License</a
                >.
            </p>

            <h2>Attributions</h2>
            <p>
                This Code of Conduct is based on the{" "}
                <a
                    href="https://www.europython-society.org/coc/"
                    target="_blank"
                    rel="noopener">EuroPython Society Code of Conduct</a
                >, which is itself based on the{" "}
                <a
                    href="https://us.pycon.org/2024/about/code-of-conduct/"
                    target="_blank"
                    rel="noopener">PyCon US Code of Conduct</a
                >, which was forked from the example policy from the{" "}
                <a
                    href="https://geekfeminism.wikia.org/wiki/Conference_anti-harassment/Policy"
                    target="_blank"
                    rel="noopener">Geek Feminism wiki</a
                >, created by the Ada Initiative and other volunteers, which is
                under a Creative Commons Zero licence.
            </p>
            <p>
                Additional new language and modifications were created by Sage
                Sharp of Otter Tech.
            </p>
            <p>
                Language was incorporated from the following Codes of Conduct:
            </p>
            <ul>
                <li>
                    <a
                        href="https://affectconf.com/coc/"
                        target="_blank"
                        rel="noopener">Affect Conf Code of Conduct</a
                    >, licensed under a Creative Commons Attribution-ShareAlike
                    3.0 Unported License.
                </li>
                <li>
                    <a
                        href="https://www.contributor-covenant.org/version/1/4/code-of-conduct/"
                        target="_blank"
                        rel="noopener">Contributor Covenant version 1.4</a
                    >, licensed Creative Commons Attribution 4.0 Licence.
                </li>
                <li>
                    <a
                        href="https://www.djangoproject.com/conduct/"
                        target="_blank"
                        rel="noopener">Django Project Code of Conduct</a
                    >, licensed under a Creative Commons Attribution 3.0
                    Unported License.
                </li>
                <li>
                    <a
                        href="https://lgbtq.technology/coc.html"
                        target="_blank"
                        rel="noopener">LGBTQ in Tech Slack Code of Conduct</a
                    >, licensed under a Creative Commons Zero License.
                </li>
                <li>
                    PyCon 2018 Code of Conduct and PyCon 2022 Code of Conduct,
                    licensed under a Creative Commons Attribution 3.0 Unported
                    License.
                </li>
                <li>Rust Code of Conduct</li>
            </ul>

            <div class="coc-version">
                <p>
                    Version 2.0 &mdash; adopted by the PyNetherlands board,
                    based on the EuroPython Society Code of Conduct.
                </p>
            </div>
        </div>
    </div>
</Layout>

<style>
    .coc-version {
        margin-top: 3rem;
        padding-top: 1.5rem;
        border-top: 1px solid var(--border);
        font-size: 0.85rem;
        color: var(--text-muted);
    }

    .coc-version p {
        margin: 0;
        font-size: 0.85rem;
    }
</style>
